{% extends "vertical_base.html" %}
{% load static i18n %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">
    <h1> New Scan</h1>
    <div class="row">
        <div class="col-2">
            <form action="/scan/" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ scan_form }}
                </div>
                <input type="submit" value="Submit" class="btn btn-primary mt-1">
            </form>
        </div>
    </div>
   
    {% if address %}
        <h1>Name: {{ name }}</h1>
        <h1>Address: {{ address }}</h1>
        <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
        <script>// vanilla JS version
            document.addEventListener("DOMContentLoaded", function () {
              var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
              CeleryProgressBar.initProgressBar(progressUrl);
            });</script>
            <div class='progress-wrapper'>
                <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
            </div>
            <div id="progress-bar-message">Waiting for progress to start...</div>
    {% endif %}
</div> <!-- container -->
{% endblock %}

