{% extends "vertical_base.html" %}
{% load static i18n %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right"></div>
                <h1 class="page-title">Asset Groups</h4>
            </div>
        </div>
    </div>
    <!-- start page title -->
    <!-- end page title --> 
    <h1>Manage Asset Group</h1>
    <div>
        <form action="/assets/manage/{{ gid }}/" method="POST">
        {% csrf_token %}
        {{ change_name_form }}
        <input type="submit" value="Submit" class="btn btn-primary mt-1" name='change_name'>
        </form>
        <h2>Add Address to Group</h2>
        <form action="/assets/manage/{{ gid }}/" method="POST">
            {% csrf_token %}
            {{ add_asset_form }}
            
            <input type="Submit" name = 'add' value="Submit" class="btn btn-primary mt-1">
        </form>
        <h2>Remove Address from Group</h2>
        <form action="/assets/manage/{{ gid }}/" method="POST">
            {% csrf_token %}
            {{ del_asset_form }}
            <input type="Submit" value="Submit" class="btn btn-primary" name="delete" id="del">
        </form>
        <form method="post" action="/assets/manage/{{ gid }}/">
            {% csrf_token %}
            <label for="remove" class="mt-2">Delete Asset Group</label><br>
            <button type="submit" value="Delete" class="btn btn-primary" name="remove" id="remove">Delete</button>
        </form>
    </div>
</div> <!-- container -->

<script>
    setInterval(function(){
        $("button[class$='select2-selection__choice__remove']").replaceWith("<span class='select2-selection__choice__remove' role='presentation'>×</span>")
    },1);
</script>
{% endblock %}

